.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24
    }
.glass-panel {
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px)
    }
.bg-destination {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://lh3.googleusercontent.com/aida-public/AB6AXuC4GT-p8husn3X0aXu761jNnJjtvUJWMU0Z3WOsLW1IWbYmgkNH5fpcWf2ETHOLUA-a9pbcIpUBP6eb7Koi8Gz4WBmHAunQpxGaYVu4KWkgnniCNQkbokaYNqTd2-ww1tZ6VqHCAur1513IX4o-O_oDjX0Atz7ugGh_pFdhUrfeSIJWrUlYCsY_W3KV6YB6lQkNZjf8lb14Rs_O3FWJDczxJqF2qz2V2ziF-JzHjUg3_C0qrXyIz94FnDjh2Nnh1vJDY3afiHasCr8);
    background-size: cover;
    background-position: center
    }